/* GERAL */
.btn-detail-thumbnail-style {
    font-size: 1.5em;
    text-transform: uppercase;
    background: #ff5c04;
    color: #fff;
    padding: 25px 80px;
    margin: 15px 0;
    font-weight: bold;
    border: 1px solid #ff5c04;
    border-radius: 5px;
}
.btn-detail-thumbnail-style:hover {
    color: #fff;
    background: #e57133;
    transition: .5s;
}
/* BREADCRUMP */
.breadcrump {
    display: flex;
}
.breadcrump li {
    margin-right: 10px;
    padding: 20px 0;
}
.breadcrump li a {
    color: #666;
    font-size: 0.875em;
}

.detail-title a {
    font-size: 1.625em;
    color: #444;
    line-height: 1.4em;
}

/* THUMBNAIL */
.larger-thumbnail-detail a {
    display: flex;
    margin: 30px 0;
    border: 1px solid rgba(0,0,0,0);
    padding: 5px;
}
.larger-thumbnail-detail-content {
    margin-left: 20px;
    text-align: center;
    position: sticky;
    top: 17rem;
}
.sale-price span:nth-child(1) {
    font-size: 0.875em;
    color: #666;
    display: block;
    margin-bottom: 10px;
}
.sale-price span:nth-child(2) {
    font-size: 1.375em;
    color: #444;
    font-weight: bold;
}
.sale-price span:nth-child(3) {
    font-size: 4em;
    color: #444;
    font-weight: bold;
}
.sale-price span:nth-child(4) {
    font-size: 1.375em;
    color: #444;
    font-weight: bold;
}
.qtd-sold span:first-child {
    font-size: 1.375em;
    font-weight: bold;
    color: #666;
    display: block;
}
.qtd-sold:last-child {
    font-size: 0.875em;
    color: #666;
    display: block;
}
/* DETAIL CONTENT */
.title-section {
    font-size: 1.2em;
    font-weight: bold;
    margin: 20px 0;
}

.description-section {
    padding-bottom: 20px;
    font-size: 1em;
    line-height: 1.5em;
}

.content-section {
    padding-left: 20px;
    list-style: disc;
    font-size: 1em;
}
.content-section li {
    padding-bottom: 20px;
    line-height: 1.5em;
}

.detail-content {
    width: calc(60% - 20px);
    
}
.sticky {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
