/* GERAL */
.choose-content {
    width: 100%;
}
.choose-btn-buy {
    font-size: 0.875em;
    text-transform: uppercase;
    background: #ff5c04;
    color: #fff;
    padding: 5px 10px;
    font-weight: normal;
    border: none;
    border-radius: 5px;
    align-self: center;
}
.choose-btn-buy:hover {
    background: #e57133;
    transition: .5s;
}
/* BREADCRUMP */
.choose-breadcrump {
    display: flex;
}
.choose-breadcrump li {
    margin-right: 10px;
    padding: 20px 0;
}
.choose-breadcrump li a {
    color: #999;
    font-size: 0.875em;
}

.choose-title a {
    font-size: 1.625em;
    color: #444;
    line-height: 1.4em;
}
/* CHOOSE CONTENT */
.choose-title-section {
    font-size: 1.2em;
    font-weight: bold;
    margin: 20px 0;
    background: #f1f1f1;
    padding: 10px 20px;
    border-radius: 5px;
}
.choose-offer-content {
    padding: 0 20px;
}
.choose-offer {
    display: flex;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px dotted #999;
}
.choose-description {
    line-height: 1.5em;
    flex: 4;
}
.choose-description h4 {
    font-size: 1.1em;
}
.choose-description p {
    font-size: 0.875em;
    color: #999;
}
.choose-counter {
    flex: 1;
    align-self: center;
    text-align: center;
    min-width: 100px;
    font-size: 1.5em;
}
.choose-input-counter {
    width: 30px;
    border: none;
    color: #ff5c04;
}
.btn-more, .btn-less {
    border: none;
    color: #ff5c04;
    background: none;
}
.choose-price {
    flex: 1;
    align-self: center;
    text-align: center;
    min-width: 100px;
}
.choose-price span:nth-child(1) {
    font-size: 0.875em;
}
.choose-price span:nth-child(2) {
    font-size: 1.2em;
}
.choose-total-sum {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
}
.choose-total-sum span {
    font-size: 1.5em;
    font-weight: bold;
}

.choose-continue {
    text-align: right;
}
.choose-continue button {
    font-size: 0.875em;
    text-transform: uppercase;
    background: #ff5c04;
    color: #fff;
    padding: 10px 100px;
    font-weight: normal;
    border: none;
    border-radius: 5px;
    align-self: center;
}
.choose-continue button:hover {
    background: #e57133;
    transition: .5s;
}
