/* GERAL */
.choose-btn-buy {
    font-size: 1.1em;
    text-transform: uppercase;
    background: #ff5c04;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    align-self: center;
}
.choose-btn-buy:hover {
    color: #fff;
    background: #e57133;
    transition: .5s;
}
/* BREADCRUMP */
.choose-breadcrump {
    display: flex;
}
.choose-breadcrump li {
    margin-right: 10px;
    padding: 20px 0;
}
.choose-breadcrump li a {
    color: #666;
    font-size: 0.875em;
}

.choose-title a {
    font-size: 1.625em;
    color: #444;
    line-height: 1.4em;
}
/* CHOOSE CONTENT */
.choose-title-section {
    font-size: 1.2em;
    font-weight: bold;
    margin: 20px 0;
}
.choose-offer {
    display: flex;
}
.choose-description {
    font-size: 1em;
    line-height: 1.5em;
    flex: 4;
    min-width: 400px;
}
.choose-counter {
    flex: 1;
    align-self: center;
    text-align: center;
    min-width: 100px;
    font-size: 1.5em;
}
.choose-input-counter {
    width: 30px;
    border: none;
    color: #ff5c04;
}
.btn-more, .btn-less {
    border: none;
    color: #ff5c04;
    background: none;
}
.choose-price {
    flex: 1;
    align-self: center;
    text-align: center;
    min-width: 100px;
}
/* THUMBNAIL */
.larger-thumbnail-detail a {
    display: flex;
    margin: 30px 0;
    border: 1px solid rgba(0,0,0,0);
    padding: 5px;
}
.larger-thumbnail-detail-content {
    margin-left: 20px;
    text-align: center;
    display: none;
}
.larger-thumbnail-detail-content-sticky {
    width: calc(100% - 20px);
    margin-left: 20px;
    text-align: center;
    position: sticky;
    top: 5rem;
    margin-top: 10rem;
    
}
.sale-price span:nth-child(1) {
    font-size: 0.875em;
    color: #666;
    display: block;
    margin-bottom: 10px;
}
.sale-price span:nth-child(2) {
    font-size: 1.375em;
    color: #444;
    font-weight: bold;
}
.sale-price span:nth-child(3) {
    font-size: 4em;
    color: #444;
    font-weight: bold;
}
.sale-price span:nth-child(4) {
    font-size: 1.375em;
    color: #444;
    font-weight: bold;
}
.qtd-sold span:first-child {
    font-size: 1.375em;
    font-weight: bold;
    color: #666;
    display: block;
}
.qtd-sold:last-child {
    font-size: 0.875em;
    color: #666;
    display: block;
}

