.container {
	max-width: 1200px;
	margin: 0 auto;
    display: flex;
}

.container::after, .container::before {
	content: '';
	display: table;
	clear: both;
}
.gutter {
    margin-left: 10px;
    margin-right: 10px;
    min-height: 1px;
}

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    .container {
        max-width: 992px;
    }
} 

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .container {
        max-width: 768px;
    }
}

@media only screen and (max-width: 767.98px) {
	.container {
       /*  width: 300px; */
        flex-direction: column;
	}
}