/* GERAL */
.payment-content {
    width: 100%;
}
.payment-header-content {
    border-bottom: 2px solid #c7c7c7;
    margin-bottom: 30px;
}
.payment-title {
    font-size: 1.625em;
    color: #444;
    line-height: 1.4em;
    margin-bottom: 30px;
}
.pay-tabs-content {
    border-bottom: 2px solid #c7c7c7;
    margin-bottom: 30px;
}
.pay-tabs-content ul{
    display: flex;
}
.pay-tabs-content ul li{
    border-left: 2px solid #c7c7c7;
    border-right: 2px solid #c7c7c7;
    border-top: 2px solid #c7c7c7;
    padding: 20px;
    border-radius: 5px 5px 0 0;
    margin-right: 20px;
    color: #3796fc;
}
.btn-payment-finalize-bank-slip {
    font-size: 0.875em;
    text-transform: uppercase;
    background: #ff5c04;
    color: #fff;
    padding: 10px 100px;
    font-weight: normal;
    border: none;
    border-radius: 5px;
    align-self: center;
}
.btn-payment-finalize-bank-slip:hover {
    background: #e57133;
    transition: .5s;
}
/*PAYMENT CARD*/
.payment-card-content {
    padding-bottom: 30px;
}
.payment-card {
    display: flex;
    justify-content: space-between;
    max-width: 70%;
}
.payment-card label {
    text-align: center;
    cursor: pointer;
}
.payment-card img {
    margin-bottom: 10px;
} 
.payment-card input {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

/*FORM*/
.payment-form-fields input {
    border: 2px solid #c7c7c7;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
}
.form-field1, .form-field2, .form-field3 {
    display: flex;
}
.form-field1 div label, .form-field2 div label, .form-field3 div label {
    display: block;
    margin-bottom: 10px;
    font-size: 0.875em;
}
.form-field1 div:nth-child(1), .form-field2 div:nth-child(1), .form-field3 div:nth-child(1) {
    width: calc(50% - 20px);
}
.form-field1 div:nth-child(1) input, .form-field2 div:nth-child(1) input, .form-field3 div:nth-child(1) input, .form-field3 div:nth-child(2) input {
    width: calc(100% - 20px);
}
.form-field3 div:nth-child(2) {
    width: calc(50% - 20px);
}
.your-purchase {
    border-top: 2px solid #c7c7c7;
    border-bottom: 2px solid #c7c7c7;
    padding: 20px 0;
}
.your-purchase div div {
    width: calc(100% - 20px);
}
.your-purchase div div div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px dotted #c7c7c7;
    padding-bottom: 20px;
    width: 100%;
}
.your-purchase div div div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 20px;
    width: 100%;
    margin-bottom: 30px;
}
.payment-finalize div {
    flex: 1;
}
.payment-finalize div p:nth-child(1) {
    font-size: 0.875em;
}
.payment-finalize div p:nth-child(2) {
    font-size: 0.7em;
}
.payment-finalize div p, .payment-finalize div p a {
    color: #999;
}
.payment-finalize div p a {
    border-bottom: 1px solid;
}
/*PAGAMENTO BOLETO*/
.bank-slip-content {
    padding-bottom: 30px;
}

.bank-slip {
    display: flex;
    justify-content: space-between;
    max-width: 50%;
}

.bankslip-barcode {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    max-width: 240px;
    color: #666;
}
.bankslip-barcode img {
    padding-bottom: 10px;
}

.bankslip-pagseguro {
    display: flex;
    padding: 20px;
    border: 2px solid #c7c7c7;
    border-radius: 5px;
    align-items: center;
}
.bankslip-pagseguro div {
    border-left: 2px solid #c7c7c7;
    padding-left: 10px;
}
.bankslip-message {
    width: calc(100% - 20px);
    text-align: center;
    background: #e0f3ff;
    border: 1px solid #0085fa;
    padding: 30px 0;
    border-radius: 5px;
    margin-bottom: 30px;
}
