/* GERAL */
html, body {
    max-width: 100%;
    overflow-x: hidden;
} 
body {
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 0.875em;
    color: #666;
}
* {
    box-sizing: border-box;
}
img {
    display: block;
    max-width: 100%;
    border-radius: 5px;
}
.btn-thumbnail-style {
    font-size: 1em;
    text-transform: uppercase;
    color: #ff5c04;
    padding: 12px 15px;
    width: 130px;
    margin-top: 15px;
    font-weight: 400;
    background: none;
    border: 1px solid #ff5c04;
    border-radius: 5px;
}
.btn-thumbnail-style:hover {
    color: #fff;
    background: #ff5c04;
    transition: .5s;
}
 #check {
    display: none;
    }

/* HEADER */
.logo {
    color: #014eac;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 20px;
    align-self: center;
}
.menu-logo-content {
    display: flex;
    width: 100%;
    padding: 20px 0;
}
.search {
    flex: 1;
    border-radius: 5px 0px 0px 5px;
    padding: 10px;
    font-size: 0.875em;
    border: 1px solid rgba(0,0,0,.2);
}
.search-places {
    flex: 1;
    display: flex;
}
.search-places input {
    padding: 10px;
    flex: 1;
    font-size: 0.875em;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px 0px 0px 5px;
}
.search-places button {
    border-radius: 0px 5px 5px 0px;
    padding: 12px 25px;
    border: none;
    background: #ff5900;
    margin: 0;
}
/* MENU NAV */
.menu-nav {
    background: #004fac;
}
.menu-nav nav ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.menu-nav nav ul li a {
    display: block;
    color: #57beff;
    font-size: 0.875em;
    padding: 10px 0;
}
.menu-nav nav ul li a:hover {
    color: #fff;
    transition: .3s;
}
/* BANNER */
.banner {
    background: url('../img/banner/banner1.jpg') no-repeat center center;
    background-size: cover;
    padding: 100px 0;
    color: #fff;
    text-align: center;
}
.banner h1 {
    font-size: 2.125em;
    font-weight: 400;
    color: #fff;
    padding: 0 40px;
    margin: -15px 0 0 0;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
.banner p {
    font-size: 1.5em;
    font-weight: 400;
    color: #fff;
    margin: 10px 0 0 0;
    display: block;
    padding: 0 40px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
.banner button {
    padding: 10px 20px;
    border-radius: 5px;
    background: #ffd400;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 500;
    color: #000;
    cursor: pointer;
    border: none;
    margin-top: 10px;
}
.banner button:hover {
    background: rgba(255, 212, 0, .6);
    transition: .3s;
}
/* MAIN */
.main-contant {
    display: flex;
}
.all-offers {
    font-size: 1.5em;
    padding-top: 60px;
    width: 100%;
    text-align: center;
}
.all-offers h2::after {
    content: '';
    display: block;
    width: 180px;
    height: 2px;
    background: #ff5c04;
    margin: 20px auto;
}

/* SIDEBAR */
.sidebar {
    margin-top: 30px;
    min-width: 200px;
}
.nav-sidebar h3 {
    font-weight: normal;
    font-size: 1.125em;
    margin: 0 0 15px 0;
    padding: 5px 0 5px 15px;
    color: #444;
    border-left: solid 3px #ff5c04;
    font-weight: bold;
}
.nav-sidebar ul {
    margin: 15px 0;
}
.nav-sidebar ul li a {
    font-size: 1em;
    padding: 10px 0 10px 18px;
    color: #444;  
    display: block;
}
.nav-sidebar ul li a:hover {
    color: #ffffff;  
    background: #ff5c04;
    border-radius: 5px;
}
.search-sidebar {
    flex: 1;
    border-radius: 5px;
    padding: 10px;
    font-size: 0.875em;
    border: 1px solid rgba(0,0,0,.2);
    width: 100%;
}
.control-list {
    padding: 10px 0;
    font-size: 1em;
    color: #444; 
}
/* OFFERS AND ORDER */
.offers-order {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-wrap: wrap;
}
.offers-order h2 {
    font-size: 1.1em;
    text-align: center;
    margin-right: 20px;
}
/* THUMBNAILS */
.larger-thumbnail a {
    display: flex;
    margin: 30px 0;
    border: 1px solid rgba(0,0,0,0);
    padding: 5px;
}
.larger-thumbnail a:hover {
    border: 1px solid #ff5c04;
    border-radius: 5px;
    transition: .5s;
}
.larger-thumbnail-content {
    margin-left: 20px;
}
.larger-thumbnail p {
    font-size: 1em;
    color: #666;
    margin-bottom: 10px;
}
.larger-thumbnail h3 {
    font-size: 1.375em;
    color: #444;
    margin-bottom: 10px;
}
.larger-thumbnail span:nth-child(1) {
    font-size: 1.375em;
    color: #ff5c04;
}
.larger-thumbnail span:nth-child(2) {
    font-size: 1.75em;
    color: #ff5c04;
}
.all-thumbnails {
    display: flex;
    flex-wrap: wrap;
}
.thumbnail {
    width: calc(33.333% - 20px);
    margin-bottom: 30px;
    position: relative;
    border: 1px solid rgba(0,0,0, .0);
    padding: 5px;
    border-radius: 5px;
}
.thumbnail a {
    display: block;
    position: relative;
}
.thumbnail:hover {
    border: 1px solid #ff5c04;
    border-radius: 5px;
    transition: .5s;
}
.offer-ended {
    background: rgba(255,255,255,0.6);
    color: #666;
    position: absolute;
    border-radius: 4px 4px 0 0;
    left: 0;
    right: 0;
    text-transform: uppercase;
    padding: 8px;
    text-align: center;
    border: solid 1px #aaa;
    font-size: 1em;
}
.thumb-name {
    position: relative;
    top: -50px;
    padding-left: 10px;
    color: #fff;
    font-size: 1.1em;
}
.thumb-name p {
    font-size: 0.875em;
}
.thumb-description {
    position: relative;
    top: -20px;
    color: #444;
    font-size: 1.1em;
    padding-bottom: 10px;
    border-bottom: 1px dotted #bfbfbf;
}
.thumb-price, .thumb-price2, .thumb-price3 {
    color: #666;
    text-align: right;
    position: relative;
    top: -10px;
}
.thumb-price span:nth-child(1), .thumb-price2 span:nth-child(1), .thumb-price3 span:nth-child(1) {
    margin-right: 5px;
    font-size: 0.875em;
}
.thumb-price span:nth-child(2) {
    font-size: 1em;
    color: #ff5c04;
}
.thumb-price span:nth-child(3) {
    font-size: 1.25em;
    color: #ff5c04;
}
.thumb-price2 span:nth-child(2), .thumb-price3 span:nth-child(2) {
    font-size: 0.875em;
    color: #ff5c04;
    margin-right: 5px;
}
.thumb-price2 span:nth-child(3), .thumb-price3 span:nth-child(3) {
    font-size: 0.875em;
    color: #ff5c04;
}
.thumb-price2 span:nth-child(4) {
    font-size: 1.25em;
    color: #ff5c04;
}
.thumb-price3 span:nth-child(3) {
    font-size: 1.25em;
    background: #ff5c04;
    border-radius: 5px;
    color: #fff;
    padding: 2px 3px;
}

/* BUTTON LOAD MORE */
.load-more {
    width: 100%;
    padding: 20px 0;
    border-radius: 5px;
    cursor: pointer;
    background: #d1d1d1;
    font-weight: bold;
    font-size: 0.875em;
    color: #444;
    border: none;
}
.load-more:hover {
    background: #666;
    color: #fff;
}
/* FOOTER */
.footer-container {
    margin-top: 60px;
}
.top-footer {
    background: #0060d2;
}
.footer-nav ul {
    display: flex;
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px dotted #57beff;
    border-bottom: 1px dotted #57beff;
    flex-wrap: wrap;
}
.footer-nav ul li {
    padding: 10px;
    margin: 0 10px 20px;
    background: #004fac;
    border-radius: 5px;
}
.footer-nav ul li a {
    display: block;
    color: #57beff;
    font-size: 0.875em;
    border-bottom: 2px solid #004fac;
}
.footer-nav ul li a:hover {
    border-bottom: 1px solid #57beff;
}
.footer-item-nav {
    width: 100%;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-item p, .card-credits {
    color: #fff;
    padding-bottom: 15px;
    font-size: 1em;
}
.footer-item ul li a {
    margin-bottom: 10px;
    color: #57beff;
    font-size: 0.875em;
    border-bottom: 1px solid #0060d2;
    line-height: 2em;
    
}
.footer-item ul li a:hover {
    border-bottom: 1px solid #57beff;
}
.bottom-footer {
    background: #004fac;
}
.bottom-footer-content {
    padding: 30px 0;
}
.img-credits {
    display: flex;
}
.img-credits img {
    width: 70%;
}
.bottom-footer-content2 {
    padding-bottom: 30px;
}
.bottom-footer-copyright, .bottom-footer-terms a {
    color: #57beff;
    font-size: 0.875em;
}
.bottom-footer-copyright {
    flex: 1;
}
