/* GERAL */
* {
    box-sizing: border-box;
}
img {
    display: block;
    max-width: 100%;
}

/* HEADER */
.logo {
    color: #014eac;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 20px;
    align-self: center;
}
.search, .search-places {
    flex: 1;
    border-radius: 5px 0px 0px 5px;
    padding: 10px;
    margin: 20px 0;
    font-size: 0.875em;
    border: 1px solid rgba(0,0,0,.2);
}
.search-places {
    border-radius: 0px;
}
.menu-logo button {
    align-self: center;
    border-radius: 0px 5px 5px 0px;
    padding: 10px 25px;
    border: none;
    background: #ff5900;
}
/* MENU NAV */
.menu-nav {
    background: #004fac;
}
.menu-nav nav ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.menu-nav nav ul li {
    /* padding: 10px 0; */
}
.menu-nav nav ul li a {
    display: block;
    color: #57beff;
    font-size: 0.875em;
    padding: 10px 0;
    
}
.menu-nav nav ul li a:hover {
    color: #fff;
    transition: .3s;
    
}
/* BANNER */
.banner {
    background: url('../img/banner/banner1.jpg') no-repeat center;
    background-size: cover;
    padding: 100px 0;
    color: #fff;
    text-align: center;
}
.banner h1 {
    font-size: 2.125em;
    font-weight: 400;
    color: #fff;
    padding: 0 40px;
    margin: -15px 0 0 0;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
.banner p {
    font-size: 1.5em;
    font-weight: 400;
    color: #fff;
    margin: 10px 0 0 0;
    display: block;
    padding: 0 40px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
.banner button {
    padding: 10px 20px;
    border-radius: 5px;
    background: #ffd400;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 500;
    color: #000;
    cursor: pointer;
    border: none;
    margin-top: 10px;
}
.banner button:hover {
    background: rgba(255, 212, 0, .6);
    transition: .3s;
}
/* SIDEBAR */
.sidebar {
    margin-top: 60px;
}
.nav-sidebar h3 {
    font-weight: normal;
    font-size: 1.125em;
    margin: 0 0 15px 0;
    padding: 5px 0 5px 15px;
    line-height: 125%;
    color: #444;
    border-left: solid 3px #f60;
    font-weight: bold;
}
.nav-sidebar ul li a {
    font-size: 0.875em;
    padding: 5px 0 15px 18px;
    color: #444;  
    display: block;
}
.search-sidebar {
    flex: 1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    font-size: 0.875em;
    border: 1px solid rgba(0,0,0,.2);
}
.control-list {
    margin: 10px 0;
}

/* THUMBNAILS */
.larger-thumbnail {
    display: flex;
    margin: 60px 0 10px 0;
}
.larger-thumbnail:hover {
    border: 1px solid rgba(0,0,0, .3);
    border-radius: 5px;
}
.larger-thumbnail p {
    font-size: 1em;
    color: #666;
    margin-bottom: 10px;
}
.larger-thumbnail h3 {
    font-size: 1.375em;
    color: #444;
    margin-bottom: 10px;
}
.larger-thumbnail span:nth-child(1) {
    font-size: 1.375em;
    color: #ff5c04;
}
.larger-thumbnail span:nth-child(2) {
    font-size: 1.75em;
    color: #ff5c04;
}
.larger-thumbnail button {
    font-size: 1em;
    text-transform: uppercase;
    color: #ff5c04;
    padding: 12px 15px;
    width: 130px;
    margin-top: 15px;
    font-weight: 400;
    background: none;
    border: 1px solid #ff5c04;
    border-radius: 5px;
}
.larger-thumbnail button:hover {
    color: #fff;
    background: #ff5c04;
}